# Flutter/Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.g.dart
*.freezed.dart

# Android
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release

# iOS
ios/.symlinks/
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE
.idea/
.vscode/
*.iml